<div class="colum">
    <div class="row">
        <div class="principal">

            <div class="colum">

                <div class="row">
                    <div>
                        <form (ngSubmit)="beforeWeek()">
                            <button type="submit"> <i class='fas fa-angle-left'></i> </button>
                        </form>
                    </div>

                    <div>
                        <form (ngSubmit)="afterWeek()">
                            <button type="submit"> <i class='fas fa-angle-right'></i> </button>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <table>
                        <tr>
                            <th>
                            </th>
                            <th *ngFor="let date1 of useAM">
                                {{date1.date}}
                                <br>
                                {{date1.day}}
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Matin
                            </td>
                            <td *ngFor="let date2 of useAM">
                                <div *ngIf="date2.id === ''">
                                    <input type="button">
                                </div>
                                <div class="valid" *ngIf="date2.id !== ''">
                                    <input type="submit" [routerLink]="['/bien-service-print', date2.id, date2.type]" value="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Après-midi
                            </td>
                            <td *ngFor="let date3 of usePM">
                                <div *ngIf="date3.id === ''">
                                    <input type="button">
                                </div>
                                <div class="valid" *ngIf="date3.id !== ''">
                                    <input type="submit" [routerLink]="['/bien-service-print', date3.id, date3.type]" value="">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="colum oneCard">
            <h1 class="title" *ngIf="this.propertysOld.length">Anciens biens loués</h1>
            <app-bien-service-card *ngFor="let propertU of propertysOld" id={{propertU.id}} type=Propertys></app-bien-service-card>
        </div>

        <div class="colum oneCard">
            <h1 class="title" *ngIf="this.servicesOld.length">Anciens services rendus</h1>
            <app-bien-service-card *ngFor="let serviceU of servicesOld" id={{serviceU.id}} type=Services> </app-bien-service-card>
        </div>
    </div>
</div>
