<form (ngSubmit)="submitUtilization()" *ngIf="serviceAuth.userConnectedEmail !== owner && serviceAuth.userConnectedEmail !== '' && take == false">
  <input type="submit" value="">
</form>

<form (ngSubmit)="deleteAvaibility()" *ngIf="serviceAuth.userConnectedEmail === owner && serviceAuth.userConnectedEmail !== '' && take == false">
  <input type="submit" value="">
</form>

<form *ngIf="serviceAuth.userConnectedEmail !== owner && serviceAuth.userConnectedEmail !== '' && take == true">
  <input type="submit" value="X">
</form>
