<a routerLinkActive='router-link-active' [routerLink]="['/bien-service-print', id, type]">
    <div class="card">
        <img src="{{picture}}" alt="Image illustration de {{name}}"/>

        <div class="infos">
            <div>
                <h1>{{name}} - {{price}}{{money}}</h1>
            </div>

            <div class="descriptive">
                <!-- <p>{{desc}}</p> -->
                <ul>
                    <li> <b> Type : </b> {{typeFr}} </li>
                    <li> <b> Prix : </b> {{price}}€</li>
                    <li> <b> Vendeur : </b> <a href="mailto:{{emailMembre}} ">{{emailMembre}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</a>
