<nav>
    <ul>
        <li class="carre"> <a routerLinkActive='router-link-active' routerLink="/"> <i class="fa fa-search"></i> </a> </li>
        <!-- <li> <a routerLinkActive='router-link-active' [routerLink]="[{'outlets':{'memberPlace': ['user-list']}}]"> afficher Membres </a> </li> -->
        <!-- <li> <a routerLinkActive='router-link-active' [routerLink]="['/user-list']"> afficher Membres </a> </li> -->
        <li *ngIf="serviceAuth.userConnectedRole==='admin'"> <a routerLinkActive='router-link-active' routerLink="/user-search"> Recherche de membres </a> </li>
        <li *ngIf="serviceAuth.userConnectedRole==='admin' && adminService.limitUser==false"> <a routerLinkActive='router-link-active' routerLink="/admin"> Gestion des membres </a> </li>
        <li *ngIf="serviceAuth.userConnectedRole==='admin' && adminService.limitUser==true"> <a routerLinkActive='router-link-active' routerLink="/admin"> <span class="error"> Alerte membres ! </span> </a> </li>
        <li *ngIf="serviceAuth.userConnectedEmail!==''"> <a routerLinkActive='router-link-active' routerLink="./bien-service-user"> Vos annonces </a> </li>
        <li *ngIf="serviceAuth.userConnectedEmail!==''"> <a routerLinkActive='router-link-active' routerLink="./bien-service-using"> Votre agenda </a> </li>
        <li *ngIf="serviceAuth.userConnectedEmail===''"> <a routerLinkActive='router-link-active' routerLink="/auth"> Connexion </a> </li>
        <li *ngIf="serviceAuth.userConnectedEmail===''"> <a routerLinkActive='router-link-active' routerLink="/register"> Inscription </a> </li>
        <li class="carre" *ngIf="serviceAuth.userConnectedEmail!==''"> <a routerLinkActive='router-link-active' [routerLink]="['/user-print', serviceAuth.userConnectedEmail]"> <i class="fa fa-user"></i> </a> </li>
        <li class="carre" *ngIf="serviceAuth.userConnectedEmail!==''"> <form #f="ngForm" (ngSubmit)="logout()"> <button type="submit" class="btn btn-default"> <i class="fa fa-power-off"></i> </button> </form> </li>
    </ul>
</nav>
