:host {
    background-color: #333;
}

nav{
    height: 50px;
    color: white;
    text-align: center;
}

button
{
    border: 0;
    box-shadow: none;
    background-color: #333;

    color: white;
    display: block;
    padding: 14px 16px;
    text-decoration: none !important;
}

button:hover
{
    background-color: #111;
}

ul{
    display: flex;
    justify-content: space-evenly;

    list-style-type: none;
    margin: 0;
    padding: 0;

    height: 100%;
}

li{
    width: 100%;
}

a {
    display: block;
    padding: 14px 16px;
    text-decoration: none !important;

    height: 100%;
}

a:hover {
  background-color: #111;
  color: white;

}

.router-link-active {
    background-color: #111;
	font-weight: bold;
    color: white;
}

.carre{
    width: 50px;
}
