<div class="row">
<form #g="ngForm" (ngSubmit)="submitKeyWord(g.value)">
    <!-- <label>Entrez un nouveau mots-clefs : </label> -->
    <input list="browsers" name="keyWord" [(ngModel)]="keyWord">
    <datalist id="browsers" name="keyWord">
        <option *ngFor="let keyProperty of keyWordPropertys" value="{{keyProperty}}">
        <option *ngFor="let keyService of keyWordServices" value="{{keyService}}">
    </datalist>
  <!-- <input type="submit" value="ajouter ce keyword"> -->
</form>
<div class="error"> {{errorMessage}} </div>
