:host {
    width: 100%;

    display: block;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}

ol, ul {
margin: 0;
padding: 0;
}
