.row{
    display: block;
    display: inline-flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: stretch;
}

.keyWord
{
    color: #3700B3;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
