<h3>Mots clef associés : </h3>

<div class="row" *ngIf="this.serviceAuth.userConnectedEmail !== this.owner">
    <div class="keyWord" *ngFor="let kw of service.listKeyWord">
        <form>
            #{{kw.keyword}}
        </form>
    </div>
</div>

<div class="row" *ngIf="this.serviceAuth.userConnectedEmail === this.owner">
    <div class="keyWord" *ngFor="let kw of service.listKeyWord">
            <app-key-word-supprimable
            id={{id}}
            type={{type}}
            keyword={{kw.keyword}}
            >
            </app-key-word-supprimable>
    </div>
    <app-key-word-add
        id={{id}}
        type={{type}}
    >
    </app-key-word-add>
</div>
