table
{
    border-collapse: collapse;
}
td, th
{
    border: 1px solid black;
    margin: 0;
    padding: 0;
    min-width: 80px;
}

th{
    background-color: #263238;
    color: white;
    text-align: center;
    border-color: black;
    font-size: 90%;
    height: 50px;
}


.title{
    background-color: #263238;
    color: white;
    text-align: center;
    border-color: black;
    font-size: 90%;
    height: 50px;
}


.valid {
    background-color: #4caf50;
    color: white;
    text-align: center;
}

.indisponible {
    background-color: #f44336;
    color: white;
    text-align: center;
}

.row{
    display: block;
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

button{
position: relative;

padding: 10px;
padding-left: 20px;
padding-right: 20px;

margin-bottom: 10px;

border-width: 0;
outline: none;
border-radius: 2px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

background-color: #263238;
color: #ecf0f1;

transition: background-color .3s;
}

button:hover, button:focus {
  background-color: black;
}

.colum{
    display: block;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
