<div class="colum">
    <div class="row" *ngIf="this.service.buy.length == 0">
        <div>
            <form (ngSubmit)="beforeWeek()">
                <button type="submit"> <i class='fas fa-angle-left'></i> </button>
            </form>
        </div>

        <div>
            <form (ngSubmit)="afterWeek()">
                <button type="submit"> <i class='fas fa-angle-right'></i> </button>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="this.service.buy.length != 0">
        <div>
            <form (ngSubmit)="submitBuy()">
                <button type="submit"> Aider {{service.buy.length}} demis journées </button>
            </form>
        </div>
    </div>

    <div class="row">
        <table>
            <tr>
                <th></th>
                <th *ngFor="let date1 of service.calendar">
                    {{date1.date}}
                    <br>
                    {{date1.day}}
                </th>
            </tr>
            <tr>
              <td class="title">
                  Matin
              </td>
                <td *ngFor="let date2 of service.calendar">
                    <div *ngIf="date2.AM === '0'"><app-availability-vide id={{id}} type={{type}} owner={{owner}} date={{date2.date}} AMPM='AM'></app-availability-vide></div>
                    <div class="valid" *ngIf="date2.AM === '1'"><app-availability-disponible id={{id}} type={{type}} owner={{owner}} date={{date2.date}} AMPM='AM'></app-availability-disponible></div>
                    <div class="indisponible" *ngIf="date2.AM === '2'"><app-availability-indisponible id={{id}} type={{type}} owner={{owner}} date={{date2.date}} AMPM='AM'></app-availability-indisponible></div>
                </td>
            </tr>

            <tr>
              <td class="title">
                  Après-midi
              </td>
                <td *ngFor="let date3 of service.calendar">
                    <div *ngIf="date3.PM === '0'"><app-availability-vide id={{id}} type={{type}} owner={{owner}} date={{date3.date}} AMPM='PM'></app-availability-vide></div>
                    <div class="valid" *ngIf="date3.PM === '1'"><app-availability-disponible id={{id}} type={{type}} owner={{owner}} date={{date3.date}} AMPM='PM'></app-availability-disponible></div>
                    <div class="indisponible" *ngIf="date3.PM === '2'"><app-availability-indisponible id={{id}} type={{type}} owner={{owner}} date={{date3.date}} AMPM='PM'></app-availability-indisponible></div>
                </td>
            </tr>

        </table>
    </div>
</div>
