.keyWord
{
    color: #3700B3;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;

    margin: 0;
    padding: 0;
    background:none;
    border: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.keyWord:hover
{
    background-color: #ef5350;
    color: white;
}
