<div class="row">

    <div class="colum petite">
        <app-bien-service-add></app-bien-service-add>
    </div>

    <div class="row">
        <div class="colum oneCard" *ngIf="this.propertysAvailable.length || this.servicesAvailable.length">
            <h1 class="title" >Annonces en cours</h1>
                <app-bien-service-card *ngFor="let propertA of propertysAvailable" id={{propertA.id}} type=Propertys></app-bien-service-card>
                <app-bien-service-card *ngFor="let serviceA of servicesAvailable" id={{serviceA.id}} type=Services> </app-bien-service-card>
        </div>

        <div *ngIf="this.propertysUnavailable.length || this.servicesUnavailable.length">
            <h1 class="title" >Annonces terminées</h1>
                <app-bien-service-card *ngFor="let propertU of propertysUnavailable" id={{propertU.id}} type=Propertys> </app-bien-service-card>
                <app-bien-service-card *ngFor="let serviceU of servicesUnavailable" id={{serviceU.id}} type=Services> </app-bien-service-card>
        </div>
    </div>


</div>
