<div class="container">
    <h1>Register</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

        <div class="form-group">
            <input id="first_name" type="text" class="form-control" required
            [ngModel]="first_name" name="first_name">
            <label class="control-label" for="first_name">First name*</label><i class="bar"></i>
        </div>

        <div class="form-group">
            <input id="last_name" type="text" class="form-control" required
            [ngModel]="last_name" name="last_name">
            <label class="control-label" for="last_name">Last name*</label><i class="bar"></i>
        </div>

        <div class="form-group">
            <input id="email" type="email" class="form-control" required
            [ngModel]="email" name="email">
            <label class="control-label" for="email">Email*</label><i class="bar"></i>
        </div>

        <div class="form-group">
            <input id="password" type="password" class="form-control" required
            [ngModel]="password" name="password">
            <label class="control-label" for="password">Password*</label><i class="bar"></i>
        </div>

        <div class="form-group">
            <input id="address" type="text" class="form-control" required
            [ngModel]="address" name="address">
            <label class="control-label" for="address">Address*</label><i class="bar"></i>
        </div>

        <div class="form-group">
            <input id="city" type="text" class="form-control" required
            [ngModel]="city" name="city">
            <label class="control-label" for="city">City*</label><i class="bar"></i>
        </div>

        <div class="form-group">
            <input id="phone" type="tel" class="form-control" required
            [ngModel]="phone" name="phone">
            <label class="control-label" for="phone">Phone*</label><i class="bar"></i>
        </div>

        <div class="form-group">
            <input id="birthday" type="date" class="form-control"
            [ngModel]="birthday" name="birthday">
            <label class="control-label" for="birthday">Birthday</label><i class="bar"></i>
        </div>

        <div class="form-group">
            <input id="avatar" type="url" class="form-control"
            [ngModel]="avatar" name="avatar">
            <label class="control-label" for="avatar">Avatar</label><i class="bar"></i>
        </div>

        <div class="button-container">
            <button [disabled]="f.invalid" type="submit" class="button"><span>Envoyer</span></button>
        </div>
    </form>

    {{succesMessage}}
    {{errorMessage}}
</div>
