<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<br/>
<!-- <div *ngIf="serviceAuth.userConnectedEmail!==''">
  <h2>
      Bonjour
      <h1 *ngIf="serviceAuth.userConnectedRole==='admin'">
        ô grand et majestueux
      </h1>
      {{serviceAuth.userConnectedFirstName}}
   </h2>
</div> -->
<router-outlet></router-outlet>
<!-- <div>
<router-outlet name="memberPlace"></router-outlet>
</div> -->
<!-- <app-bien-service-search></app-bien-service-search> -->
<!-- <a [routerLink]="['user-list', 'register']"> tout afficher </a> -->

<!-- <app-user-list></app-user-list> -->
