<!-- <div class="container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)"
    *ngIf="service.userConnectedEmail === ''">
      <h1>Connectez vous</h1>

      <div class="form-group">
          <input id="email" type="email" required [ngModel]="email" name="email">
          <label class="control-label" for="email">Email</label><i class="bar"></i>
      </div>

      <div class="form-group">
          <input id="password" type="password" class="form-control" required
          [ngModel]="password" name="password">
          <label class="control-label" for="password">Password</label><i class="bar"></i>
      </div>
      <button [disabled]="f.invalid" type="submit" class="btn btn-default">Connexion</button>

      <form #g="ngForm" (ngSubmit)="register()">
        <button [disabled]="g.invalid" type="submit" class="btn btn-default">Créer un compte</button>
      </form>
      {{errorMessage}}
    </form>

    <div *ngIf="service.userConnectedEmail !== ''">
    Souhaitez vous vous déconecter {{service.userConnectedFirstName}}?
    <form #f="ngForm" (ngSubmit)="logout()">
      <button [disabled]="f.invalid" type="submit" class="btn btn-default">Déconnexion</button>
    </form>
    </div>
</div> -->


<div class="container" *ngIf="service.userConnectedEmail === ''">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <h1>Connectez vous</h1>

        <div class="form-group">
            <input type="text" required="required" [ngModel]="email" name="email"/>
            <label for="input" class="control-label">Email*</label><i class="bar"></i>
        </div>

        <div class="form-group">
            <input type="password" required="required" [ngModel]="password" name="password"/>
            <label for="input" class="control-label">Mot de passe*</label><i class="bar"></i>
        </div>

        <span class="error"> {{errorMessage}} </span>

        <div class="button-container">
            <button [disabled]="f.invalid"  type="submit" class="button"><span>Connexion</span></button>
            <button routerLink="/register" type="button" class="button"><span>Créer un compte</span></button>
        </div>

    </form>
</div>
