<a routerLinkActive='router-link-active' [routerLink]="['/user-print', email]">
    <div class="card">
        <img src="{{avatar}}" alt="Photo de pofil de {{first_name}} {{last_name}}"/>

        <div class="infos">
            <div>
                <h1>{{last_name}} {{first_name}}</h1>
            </div>

            <div class="descriptive" *ngIf="AuthService.userConnectedEmail !== ''">
                <p>{{desc}}</p>
                <ul>
                    <li> <b> Email : </b> <a href="mailto:{{email}} ">{{email}}</a></li>
                    <li> <b> Adresse : </b> {{address}}, {{city}} </li>
                    <li> <b> Téléphone : </b> {{phone}} </li>
                    <li *ngIf="AuthService.userConnectedRole === 'admin'"> <b> Ratio : </b> vente: {{sell}}, achat: {{buy}} = {{ratio}}</li>
                </ul>
            </div>
        </div>
    </div>
</a>
