:host{
    width: 550px;
    height: 180px;

    margin: 10px;

    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

:host:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: black;
}

.card {
    display: flex;
}

img{
    height: 180px;
    width: 180px;
}

.infos{
    width: 370px;
    padding-top: 1%;
    padding-bottom: 0;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
}

a {
    color:inherit;
    text-decoration: none !important;
}

ul{
    margin: 0;
}

h1{
    margin: 0;
}

.descriptive{
    margin-top: -2%;
}
