<div class="row">

    <div class="container">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

        <h1 class="title">Recherche dans les membres</h1>

        <div class="form-group">
            <input id="search" type="text" class="form-control" [(ngModel)]="search" name="search">
            <label class="control-label" for="search">Rechercher</label><i class="bar"></i>
        </div>

        <p>Trier par : </p>
        <div class="form-radio">
            <div class="radio">
                <label>
                    <input type="radio" name="trie" value="soon" required checked [(ngModel)]="soon"><i class="helper"></i>Aucun
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="trie" value="ratio" checked [(ngModel)]="soon"><i class="helper"></i>Ratio
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="trie" value="buy" checked [(ngModel)]="soon"><i class="helper"></i>Ventes
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="trie" value="achat" checked [(ngModel)]="soon"><i class="helper"></i>Achat
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="trie" value="inscritpion" checked [(ngModel)]="soon"><i class="helper"></i>Date d'inscription
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="trie" value="nomPrenom" checked [(ngModel)]="soon"><i class="helper"></i>Nom/Prenom
                </label>
            </div>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" [(ngModel)]="inv" name="inv"/><i class="helper"></i>Inverser le trie
            </label>
        </div>

        <div class="button-container">
            <button class="button" id="search" type="submit" [(ngModel)]="search" name="search"> <span>Rechercher</span> </button>
        </div>
        </form>
    </div>

    <div class="row">
        <app-user-card *ngFor="let member of members"
            email={{member.email}}
            avatar={{member.avatar}}
            first_name={{member.first_name}}
            last_name={{member.last_name}}
            desc={{member.desc}}
            address={{member.address}}
            city={{member.city}}
            phone={{member.phone}}
            ratio={{member.ratio}}
            sell={{member.sell}}
            buy={{member.buy}}
            register_date={{member.register_date}}
            role={{member.role}}>
        </app-user-card>
    </div>

    <label *ngIf="notFound" class="error"> Aucun résultat à la recherche </label>
</div>
