input[type=button], input[type=submit], input[type=reset] {
  background-color: rgba(255, 255, 128, 0);  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}
