<form *ngIf="serviceAuth.userConnectedEmail !== owner || serviceAuth.userConnectedEmail === ''">
  <input type="submit" value="">
</form>

<form (ngSubmit)="submitAvaibility()" *ngIf="serviceAuth.userConnectedEmail === owner && serviceAuth.userConnectedEmail !== ''">
  <input type="submit" value="">
</form>
