<div class="row">

    <div class="colum oneCard">
        <h1 class="title"> Auteur </h1>
        <app-user-card *ngIf="owner !== ''"
            email={{owner}}
        >
        </app-user-card>
    </div>

    <div class="colum">
        <h1 class="title"> Annonce </h1>
        <div class="principal" *ngFor="let product of products">
            <div class="row">
                <img src="{{product.picture}}" alt="Image illustration de {{product.name}}"/>
                <div class="colum">
                    <h1 class="title"> {{product.name}} - {{product.price}}{{money}}</h1>
                    <p> {{product.desc}} </p>
                </div>
            </div>

            <div>
                <form #f="ngForm" (ngSubmit)="remove(f.value)" *ngIf="this.serviceAuth.userConnectedEmail === this.product.emailMembre">
                    <button type="submit"><i class='fas fa-trash'></i> Supprimer </button>
                </form>
            </div>

            <app-key-word-affiche
                id={{id}}
                type={{type}}
                owner={{owner}}
            >
            </app-key-word-affiche>
        </div>
    </div>
</div>

<div class="colum" id="table" *ngIf="serviceAuth.userConnectedEmail !== '' && owner !== ''">
    <h1 class="title"> Disponibilités </h1>
    <div class="row">
        <app-availability-affichage class="principal"
        id={{id}}
        type={{type}}
        owner={{owner}}
        >
        </app-availability-affichage>
    </div>
</div>
