img{
    height: 180px;
    width: 180px;
    margin : 10px;
}

.row{
    display: inline-flex;
    width: 100%;
    flex-wrap: nowrap;
}

.remove{
position: relative;

padding: 5px;

border-width: 0;
outline: none;
border-radius: 2px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

background-color: #f44336;
color: #ecf0f1;

transition: background-color .3s;
}

.remove:hover, .remove:focus {
  background-color: #d32f2f;
}


#table{
    max-width: 680px;
}
