<div class="row">

    <div class="colum oneCard">
        <h1 *ngIf="this.propertysAvailable.length" class="title">Autres biens de {{first_name}}</h1>
        <app-bien-service-card *ngFor="let propertA of propertysAvailable"
            id={{propertA.id}}
            type=Propertys
        >
        </app-bien-service-card>

        <h1  class="title" class="title" *ngIf="this.servicesAvailable.length">Autres services de {{first_name}}</h1>
        <app-bien-service-card *ngFor="let serviceA of servicesAvailable"
            id={{serviceA.id}}
            type=Services
        >
        </app-bien-service-card>
    </div>

    <div class="colum">
        <h1 class="title">  Profil </h1>
        <div class="principal" *ngFor="let user of users">
            <div class="row">
                <img src="{{avatar}}" alt="Photo de pofil de {{first_name}} {{last_name}}"/>
                    <div class="colum" >
                        <h1 class="title">{{first_name}} {{last_name}}</h1>
                        <ul *ngIf="serviceAuth.userConnectedEmail !== ''">
                            <li> <b> Email : </b> <a href="mailto:{{email}} ">{{email}}</a></li>
                            <li> <b> Adresse : </b> {{address}}, {{city}} </li>
                            <li> <b> Téléphone : </b> {{phone}} </li>
                            <li> <b> Anniversaire : </b> {{birthday}} </li>
                            <li> <b> Role : </b> {{role}} </li>
                            <li> <b> inscrit le : </b> {{register_date}} </li>
                            <li *ngIf="serviceAuth.userConnectedRole === 'admin' || serviceAuth.userConnectedEmail===email"> <b> Ratio : </b> vente: {{sell}}, achat: {{buy}} = {{ratio}}</li>
                        </ul>
                    </div>
            </div>

            <form (ngSubmit)="remove()" *ngIf="serviceAuth.userConnectedRole === 'admin' || serviceAuth.userConnectedEmail===email">
              <button type="submit" class="remove"><i class='fas fa-trash'></i> Supprimer </button>
            </form>

            <form #f="ngForm" (ngSubmit)="change(f.value)" *ngIf="serviceAuth.userConnectedEmail===email">
                <div class="form-group">
                    <input type="text" name="image" [(ngModel)]="image">
                    <label class="control-label">Changer votre image</label><i class="bar"></i>
                </div>

                <div class="form-group">
                    <input type="text" name="num" [(ngModel)]="num">
                    <label class="control-label">Changer de numéro</label><i class="bar"></i>
                </div>

                <div class="form-group">
                    <input type="text" name="addr" [(ngModel)]="addr">
                    <label class="control-label">Changer addresse</label><i class="bar"></i>
                </div>

                <div class="form-group">
                    <input type="text" name="ville" [(ngModel)]="ville">
                    <label class="control-label">Changer ville</label><i class="bar"></i>
                </div>

                <div class="button-container">
                    <button class="button" type="submit" value="Changer"><span>Mettre à jour</span></button>
                </div>
            </form>

            <!-- <app-key-word-affiche
                id={{id}}
                type={{type}}
                owner={{owner}}
            >
            </app-key-word-affiche> -->
        </div>
    </div>
</div>

<!-- <div class="colum" id="table" *ngIf="serviceAuth.userConnectedEmail !== '' && owner !== ''">
    <h1> Disponibilités </h1>
    <app-availability-affichage class="principal"
      id={{id}}
      type={{type}}
      owner={{owner}}
    >
    </app-availability-affichage>
</div> -->
