<div class="colum">
    <h1 class="title">Gestion des membres</h1>

    <div class="row">
        <span class="error" *ngIf="memberLimits !== undefined && memberLimits.length === 0"> Tout va bien ! </span>
        <app-user-card *ngFor="let member of memberLimits"
            email={{member.email}}
            avatar={{member.avatar}}
            first_name={{member.first_name}}
            last_name={{member.last_name}}
            desc={{member.desc}}
            address={{member.address}}
            city={{member.city}}
            phone={{member.phone}}
            ratio={{member.ratio}}
            sell={{member.sell}}
            buy={{member.buy}}
            register_date={{member.register_date}}
            role={{member.role}}
        >
        </app-user-card>
    </div>
</div>
