<div class="row">
    <div class="colum petite">
        <div class="container">
            <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
                <h1>Que cherchez-vous ?</h1>

                <div class="form-group">
                    <input id="name" type="text" class="form-control" [(ngModel)]="name" name="name">
                    <label class="control-label" for="name">Recherche</label><i class="bar"></i>
                </div>

                <form *ngFor="let kw of keyWords"  #fkw="ngForm" (ngSubmit)="removeKeyWord(fkw.value)">
                    <input type="hidden" [(ngModel)]="kw" name="remove">
                    <input class="keyWord" type="submit" value="#{{kw}}">
                </form>

                <form #g="ngForm" (ngSubmit)="submitKeyWord(g.value)">
                    <div class="form-group">
                        <input list="browsers" name="keyWord" [(ngModel)]="keyWord">
                        <label class="control-label">Entrez des mots-clefs : </label><i class="bar"></i>
                        <datalist id="browsers" name="keyWord">
                            <option *ngFor="let keyProperty of keyWordPropertys" value="{{keyProperty}}">
                            <option *ngFor="let keyService of keyWordServices" value="{{keyService}}">
                        </datalist>
                    </div>
                </form>

                <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="p" name="p" value="true" checked="checked"/><i class="helper"></i>Bien
                    </label>
                    <label>
                        <input type="checkbox" [(ngModel)]="s" name="s" value="true" checked="checked"/><i class="helper"></i>Service
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="true" [(ngModel)]="am" name="am"/><i class="helper"></i>Matin
                    </label>
                    <label>
                        <input type="checkbox" value="true" [(ngModel)]="pm" name="pm"/><i class="helper"></i>Après-midi
                    </label>
                </div>

                <div class="form-group">
                    <input type="date" name="dateBegin" [(ngModel)]="dateBegin">
                    <label class="control-label" for="dateBegin">Disponible du : </label><i class="bar"></i>
                </div>

                <div class="form-group">
                    <input type="date" name="dateEnd" [(ngModel)]="dateEnd">
                    <label class="control-label" for="dateEnd">Au : </label><i class="bar"></i>
                </div>


                <div class="form-radio">
                    <div class="radio">
                        <label>
                            <input type="radio" name="trie" value="price" [(ngModel)]="price"> <i class="helper"></i>Trie par prix
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="trie" value="soon" required checked [(ngModel)]="soon"><i class="helper"></i>Aucun
                        </label>
                    </div>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" [(ngModel)]="inv" name="inv"/><i class="helper"></i>Inverser le trie
                    </label>
                </div>

                <!-- Affichage du résultat -->
                <label class="error" *ngIf="noFound">Aucun résultat à la recherche</label>

                <div class="button-container">
                    <button class="button" type="submit"> <span>Recherche</span></button>
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="colum oneCard" *ngIf="this.propertys.length">
            <h1 class="title" >Biens</h1>
            <app-bien-service-card *ngFor="let propert of propertys" id={{propert.id}} type=Propertys></app-bien-service-card>
        </div>

        <div class="colum oneCard" *ngIf="this.services.length">
            <h1 class="title">Services</h1>
            <app-bien-service-card *ngFor="let service of services" id={{service.id}} type=Services></app-bien-service-card>
        </div>
    </div>
</div>
