<form *ngIf="serviceAuth.userConnectedEmail !== user && serviceAuth.userConnectedEmail !== ''">
  <a routerLinkActive='router-link-active' [routerLink]="['/user-print', user]"> <input type="submit" value=""> </a>
</form>

<form (ngSubmit)="deleteUtilization()" *ngIf="serviceAuth.userConnectedEmail === user && serviceAuth.userConnectedEmail !== ''">
  <input type="submit" value="Annuler">
</form>
