<div class="container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

        <h1>Faire une annonce</h1>

        <div class="form-group">
            <input id="name" type="text" class="form-control" required [ngModel]="name" name="name">
            <label class="control-label" for="name">Titre*</label><i class="bar"></i>
        </div>

        <div class="form-radio">
            <div class="radio">
                <label>
                    <input type="radio" name="PropertysServices" value="Propertys" required="required" [(ngModel)]="PropertysServices" checked="checked"><i class="helper"></i>Bien
                </label>
            </div>

            <div class="radio">
              <label>
                <input type="radio" name="PropertysServices"  value="Services" required="required" [(ngModel)]="PropertysServices"/><i class="helper"></i>Service
              </label>
            </div>
        </div>

            <!-- <input type="radio" id="Propertys" name="PropertysServices" value="Propertys" required [(ngModel)]="PropertysServices">
            <label class="helper" for="huey">Bien</label>

            <input type="radio" id="Services" name="PropertysServices" value="Services" required [(ngModel)]="PropertysServices">
            <label class="helper" for="huey">Service</label> -->

        <div class="form-group">
            <input id="price" type="text" class="form-control" required [ngModel]="price" name="price">
            <label class="control-label" for="price">Prix de la demis journée*</label><i class="bar"></i>
        </div>

        <div class="form-group">
            <input id="picture" type="text" class="form-control" required [ngModel]="picture" name="picture">
            <label class="control-label" for="picture">Image d'illustration*</label><i class="bar"></i>
        </div>

        <div class="form-group">
            <input id="desc" type="text" class="form-control" required [ngModel]="desc" name="desc">
            <label class="control-label" for="desc">Description*</label><i class="bar"></i>
        </div>

        <span> {{succesMessage}} </span>
        <span class="error"> {{errorMessage}} </span>

        <div class="button-container">
            <button [disabled]="f.invalid" type="submit" class="button"><span>Submit</span></button>
        </div>
    </form>
</div>
